<link href="/assets/layouts/page/profile.css" rel="stylesheet"/>

<!-- BEGIN PAGE BASE CONTENT -->
<div class="row">
  <div class="col-md-12">
    <!-- BEGIN PROFILE SIDEBAR -->
    <div class="profile-sidebar">
      <!-- PORTLET MAIN -->
      <div class="portlet light profile-sidebar-portlet bordered">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <% if not @profile.avatar.nil? %>
              <img src="<%= @profile.avatar.url(:medium) %>" class="img-responsive" alt="">
          <% else %>
              <img src="/no_avatar.jpg" class="img-responsive" alt="">

          <% end %>
        </div>

        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name"> <%= @profile.full_name %></div>
          <% if not @role.nil? %>
              <div class="profile-usertitle-job"> <%= @role.name %></div>
          <% end %>
        </div>
        <!-- END SIDEBAR USER TITLE -->
      </div>
      <!-- END PORTLET MAIN -->
      <!-- PORTLET MAIN -->
      <div class="portlet light bordered">
        <!-- STAT -->
        <div class="row list-separated profile-stat">
          <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="uppercase profile-stat-title"> <%= @projects.count %></div>
            <div class="uppercase profile-stat-text"> Projects</div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="uppercase profile-stat-title"> <%= @publications.count %></div>
            <div class="uppercase profile-stat-text"> Publications</div>
          </div>
        </div>
        <!-- END STAT -->
        <div>
          <h4 class="profile-desc-title">Email:</h4>
          <span class="profile-desc-text"> <%= @profile.email %></span>

          <% if @profile.url %>
          <h4 class="profile-desc-title">URL:</h4> 
          <span class="profile-desc-text"> <%= @profile.url %></span> 
          <% end %>

          <h4 class="profile-desc-title">Bio:</h4>
          <span class="profile-desc-text"> <%= @profile.bio %></span>



          <!--<div class="margin-top-20 profile-desc-link">
            <i class="fa fa-globe"></i>
            <h8><%#= @profile.bio %></h8>
          </div>
          <div class="margin-top-20 profile-desc-link">
            <i class="fa fa-twitter"></i>
            <a href="http://www.twitter.com/keenthemes/">@keenthemes</a>
          </div>
          <div class="margin-top-20 profile-desc-link">
            <i class="fa fa-facebook"></i>
            <a href="http://www.facebook.com/keenthemes/">keenthemes</a>
          </div> -->
        </div>
      </div>
      <!-- END PORTLET MAIN -->
    </div>
    <!-- END BEGIN PROFILE SIDEBAR -->
    <!-- BEGIN PROFILE CONTENT -->
    <div class="profile-content">
      <div class="row">
        <div class="col-md-12">
          <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
              <div class="caption">
                 <i class=""></i>
                <span class="caption-subject bold font-green uppercase"> Publications</span>
                <!-- <dt>Title:</dt> -->
                <% @publications.each do |publication| %>
                <hr/>
                <i class="glyphicon glyphicon-pencil font-green"></i>
                <span class= "small"><%=link_to publication.title, publications_path(publication.id) %>,number of pages: <%= publication.page %>, Publication year is <%= publication.page %>, Publication volume is <%= publication.year %> </span>

               
                <%end %>
                
                <!--<span class="caption-helper">user timeline</span>-->
              </div>
            </div>
          </div>
          <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
              <div class="caption">
                 <i class=""></i>
                <span class="caption-subject bold font-green uppercase"> Projects</span>
                <!-- <dt>Title:</dt> -->
                <% @projects.each do |project| %>
                <hr/>
                <i class="glyphicon glyphicon-pencil font-green"></i>
                <span class="font-small"><%=link_to project.title, projects_path(project.id) %>,The goal for this project is: <%= project.goal %>, Startdate for this project is from <%= project.start_date %> to <%= project.end_date %>. </span>

               
                <%end %>
                
                <!--<span class="caption-helper">user timeline</span>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END PROFILE CONTENT -->
  </div>
</div>
<!-- END PAGE BASE CONTENT -->